/* Write your CSS here! */
#mainHeading {
  color: red;
  size: 48px;
  font-family:'Tangerine', serif;
  text-shadow: 4px 4px 4px #aaa;
}

body {
  font-size: 16px;
  font-family: 'Quicksand', sans-serif;
}

/* h1 {
  font-family: 'Tangerine', serif;
  font-size: 48px;
  text-shadow: 4px 4px 4px #aaa;
} */

h2 {
  font: 'Cookie', cursive;
  color: darkblue;
  text-shadow: 4px 4px 3px rgba(0, 0, 0, 0.1);
  font-size: 36px;
}

p {
  display: block;
  it margin-block-end: 1em;
  margin-inline-start: 8px;
  margin-inline-end: 8px;
}